---
import Card from "../Card.astro";

interface BlogPost {
  date: string;
  readTime: string;
  title: string;
  description: string;
  link: string;
}

interface Props {
  blog: {
    sectionTitle: string;
    description: string;
    viewAll: string;
    posts: BlogPost[];
  };
}

const { blog } = Astro.props;
---

<!-- Featured Blog Posts -->
<section id="blog" class="blog-section">
  <div class="container">
    <div class="section-intro">
      <h2 class="section-title">{blog.sectionTitle}</h2>
      <div class="section-subheader">
        <p class="section-description">{blog.description}</p>
      </div>
    </div>

    <div class="section-header">
      <!-- Empty div for flex spacing -->
      <a href="/blog" class="view-all">
        {blog.viewAll}
      </a>
    </div>

    <div class="blog-grid">
      {
        blog.posts.map((post) => (
          <Card
            type="blog"
            date={post.date}
            readTime={post.readTime}
            title={post.title}
            description={post.description}
            link={post.link}
          />
        ))
      }
    </div>
  </div>
</section>
