---
import { SITE, SOCIALS } from "@consts";
import Link from "@components/Link.astro";
---

<ul class="not-prose flex flex-wrap gap-2">
  {
    SOCIALS.map((SOCIAL) => (
      <li class="flex gap-x-2 text-nowrap">
        <Link
          href={SOCIAL.HREF}
          external
          aria-label={`${SITE.TITLE} on ${SOCIAL.NAME}`}
        >
          {SOCIAL.NAME}
        </Link>
        {"/"}
      </li>
    ))
  }
  <li class="line-clamp-1">
    <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.TITLE}`}>
      {SITE.EMAIL}
    </Link>
  </li>
</ul>
